.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

    form{
        display: flex;

        label {

            width: 100px;
            }
            
            input {
            width: 100px;
            }
    }

        button {
        margin-left: 100px;
        }
}
    
    