<div class="container">
    <h1>Age Calculator</h1>
    
    <form [formGroup]="inputForm">
        <!-- year -->
        <label for="year">Year:</label>
        <input id="year" (keypress)="validateNumberOnly($event)" type="text" formControlName="year" placeholder="1381">
        <!-- month -->
        <label for="month">Month:</label>
        <input id="month" (keypress)="validateNumberOnly($event)" type="text" formControlName="month" placeholder="6">
        <!-- date -->
        <label for="date">Date:</label>
        <input id="date" (keypress)="validateNumberOnly($event)" type="text" formControlName="date" placeholder="25">
        
        <!-- <button type="submit" [disabled]="!inputForm.valid">Calculate</button> -->
    </form>
    <p>{{ageMessage}}</p>
</div>