<div *ngFor="let comment of data.comments" class="comment-container">
    <div class="comment">
      <div class="user-info">
        <img [src]="comment.user.image.png" [alt]="comment.user.username" class="avatar">
        <span class="username">{{ comment.user.username }}</span>
      </div>
      <div class="content">
        <p>{{ comment.content }}</p>
      </div>
      <div class="footer">
        <span class="date">{{ comment.createdAt }}</span>
        <span class="score">{{ comment.score }} points</span>
      </div>
    </div>
    <div class="replies" *ngFor="let reply of comment.replies">
      <div class="reply">
        <div class="user-info">
          <img [src]="reply.user.image.png" [alt]="reply.user.username" class="avatar">
          <span class="username">{{ reply.user.username }}</span>
        </div>
        <div class="content">
          <p>Reply: {{  reply.content }}</p>
        </div>
        <div class="footer">
          <span class="date">{{ reply.createdAt }}</span>
          <span class="score">{{ reply.score }} points</span>
        </div>
      </div>
    </div>
  </div>
  