<div *ngFor="let comment of comments">
  <div class="comment">
    <div class="comment-score">
      <img src="../../assets/images/icon-plus.svg" alt="plus" class="plus" (click)="changeScore(comment, true)">
      {{comment.score}}
      <img src="../../assets/images/icon-minus.svg" alt="minus" class="minus" (click)="changeScore(comment, false)">
    </div>
    <div class="right-part">
      <div class="comment-header">
        <div class="user-info">
          <img [src]="comment.user.image.webp" alt="">
          <b>
            {{comment.user.username}}
          </b>
          {{comment.createdAt}}
        </div>
        <img src="../../assets/images/icon-reply.svg" alt="reply" class="reply-icon">
      </div>
      <p class="content">{{ comment.content }}</p>
      <div *ngIf="comment.replies.length > 0">
        <div *ngFor="let reply of comment.replies">
          <div class="comment reply">
            <div class="comment-score">
              <img src="../../assets/images/icon-plus.svg" alt="plus" class="plus" (click)="changeScore(reply, true)">
              {{reply.score}}
              <img src="../../assets/images/icon-minus.svg" alt="minus" class="minus" (click)="changeScore(reply, false)">
            </div>

            <div class="right-part">
              <div class="comment-header">
                <div class="user-info">
                  <img [src]="reply.user.image.webp" alt="">
                  <b>
                    {{reply.user.username}}
                  </b>
                  {{reply.createdAt}}
                </div>
                <img src="../../assets/images/icon-reply.svg" alt="reply" class="reply-icon">
              </div>
              <p class="content">
                {{reply.content}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>