form{
    display: flex;
    flex-direction: column;
    div{
        padding: 5px;
        div{
            input{
                outline: none;
            }
            .error{
                color: red;
            }
        }
    }

    button{
        width: 10%;
    }
}