<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Personal Info</ng-template>
        <form [formGroup]="firstFormGroup">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" formControlName="phone" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Select Your Plan</ng-template>
        <form [formGroup]="secondFormGroup">
            <mat-radio-group class="options" formControlName="plan">
                <mat-radio-button value="arcade">Arcade</mat-radio-button>
                <mat-radio-button value="advanced">Advanced</mat-radio-button>
                <mat-radio-button value="pro">Pro</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Pick Add-ons</ng-template>
        <form [formGroup]="thirdFormGroup">
            <mat-radio-group class="options" formControlName="addons">
                <mat-radio-button value="onlineservice">Online Service</mat-radio-button>
                <mat-radio-button value="largerstorage">Large Storage</mat-radio-button>
                <mat-radio-button value="customizableprofile">Customizable Profile</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submit()">Submit</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
